body{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}

/*
cabeçalho
*/

header{
    background-color: rgb(8, 60, 122);
    width: 100%;
    height: 300px;
    text-align: center;
}
header img{
    display:inline-block;
    margin-top: 40px;
    margin-left: 20px;
}
ul{
    text-align:center;
    padding-top: 20px;
    list-style: none;
}
li{
    display: inline-block;
    margin: 15px;
    background: white;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 6px;
}
a{
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: rgb(8, 60, 122);
    font-size: 20px;
}
/*
catálogo
*/
.catalogo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 10px;
    background-color: cornflowerblue;
    text-align:center;
}
.blocos{
    content: normal;
    box-sizing: border-box;
    width: 100%;
    max-width: 25%;
    height: 400px;
    color: rgb(8, 60, 122);
    background-color: skyblue;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    
}
.img-blc{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height:250px ;
}
.paragrafo{
    margin:10px;
}

.left{
    
    cursor: pointer;
    color: rgb(8, 60, 122);
    font-weight: 900;
    padding: 10px;
    background-color: skyblue;
    position: relative;
    float: left;
    left: 5%;
    top: -240px;
}
.right{
    cursor: pointer;
    color: rgb(8, 60, 122);
    font-weight: 900;
    padding: 10px;
    background-color: skyblue;
    position: relative;
    float: right;
    right: 5%;
    top: -240;
}
/*
sobre
*/
.sobre{
    margin: auto;
    max-width: 1200px;
}
.sobre-img{
    margin-top: 50px;
    display: inline;
}
.sobre-text{
    text-align: center;
    float: right;
    display: inline;
    padding: 0 5%;
    max-width: 500px;
}
.sobre-text h2{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sobre-text p{
    color: royalblue;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
}
.sobre-text a{
    color: white;
    background-color: rgb(8, 60, 122);
    padding: 20px;
    border-radius: 12px;
}
/*
contato
*/
.contato{
    background: rgb(14, 120, 250);
    color: white;
    height: 800px;
}
.contato .titulo{
    text-align: center;
    font-size: 50px;
}
.tel{
    text-align: center;
    top: 20px;
    position: relative;
    left: 15%;
    max-width: 600px;
    display: inline-block;
}
.tel img{
    width: 200px;
}
.tel p{
    font-size: 24px;
}
.tel form input[type=text]{
	width: 280px;
	margin-bottom: 8px;
	height: 48px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid rgb(200,200,200);
}
.tel form input[type=email]{
	width: 280px;
	margin-bottom: 8px;
	height: 48px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid rgb(200,200,200);
}
.tel form textarea{
	width: 280px;
	border: 1px solid rgb(200,200,200);
    height: 160px;
    resize: none;
}
.tel form input[type=submit]{
    border: 0;
	background-color: rgb(8, 60, 122);
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 22px;
}
.loc {
    padding: 50px;
    text-align: center;
    float: left;
    padding-left: 15%;
}
.map{
    left: 0;
    top: 0;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
	background-color: white;
	border: 5px solid rgb(200,200,200);
}
.rodape{
    text-align: center;
    padding: 10;
    color: white;
    background: rgb(2, 34, 73);
    height: 100px;
}

@media screen and (max-width: 1024px){
    .sobre-img{
        margin-left: 30%;    
    }
    .sobre-text{
        margin-right: 5%;
        max-width: 800px;
    }
    .loc {
        padding-left: 5%;
    }
}



/* página 2*/

.body2{
    background-color: rgb(8, 60, 122);
}
.cont{
    background-color: cornflowerblue;
    width: 600px;
    height: 400px;
    text-align: center;
    margin: auto;
    color:  rgb(8, 60, 122);
    border-radius: 60px;
}
.cont a, .cont p{
    padding:100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

    